* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    background: grey;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.main-content {
    display: none;

        @media screen and (max-width:540px) {
            display: block;
        }
}

a {
    text-decoration: none;
    color: #ffffff;
}

html {
    box-sizing: border-box;
}


.is-hidden {
    display: none!important;
}

.is-active {
    opacity: 1!important;
    z-index: 100;
}

.error {
    border-color: $red!important;
}

.slider-button {
    border: none;
    height: 50px;
    width: 50px;
    background: #26292e;
    z-index: 100;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    outline: none;



        &:hover {
            background: $red;
            cursor: pointer;
        }

}

.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}

.chevron.right:before {
	left: -2px;
	transform: rotate(45deg);
}

.chevron.bottom:before {
	top: 25%;
    left: 1%;
	transform: rotate(135deg);
}

.chevron.left:before {
    right: -2px;
	transform: rotate(-135deg);
}

.chevron.top:before {
    top: 40%;
    left: 1%;
}
