// @font-face {
//     font-family: 'open_sansregular';
//     src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
//          url('../fonts/opensans-regular-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }

@font-face {
    font-family: 'titilliumtext25-800_wt';
    src: url('titilliumtext25l-800-webfont.woff2') format('woff2'),
         url('titilliumtext25l-800-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'titilliumtext25-600_wt';
    src: url('titilliumtext25l-600-webfont.woff2') format('woff2'),
         url('titilliumtext25l-600-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'titilliumtext25-400_wt';
    src: url('titilliumtext25l-400-webfont.woff2') format('woff2'),
         url('titilliumtext25l-400-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'titilliumtext25-250_wt';
    src: url('titilliumtext25l-250-webfont.woff2') format('woff2'),
         url('titilliumtext25l-250-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}