@mixin centerer () {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@mixin vertical-centerer () {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

@mixin horisontal-centerer () {
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}

@mixin placeholder ($color) {
    &::-webkit-input-placeholder {
        color: $color;
    }

    &::-moz-input-placeholder {
        color: $color;
    }

    &::input-placeholder {
        color: $color;
    }
}

@mixin section_header () {
    
    &__header {
       text-align: center;
       padding-top:6.8%;

        &__h2 {
            color:#fefefe;
            font-size: 48px;
            font-family: $main-400;
            text-transform: capitalize;
        }

        &__p {
            color:#fefefe;
            font-size: 24px;
            font-family: $main-250;
            padding-top:2%;

                span {
                    color: $red;
                }
        }
    }
}

