$main-250: 'titilliumtext25-250_wt';

$main-400: 'titilliumtext25-400_wt';

$main-600: 'titilliumtext25-600_wt';

$main-800: 'titilliumtext25-800_wt';

$red: #de5e60;

$text-grey:#7f8289;

$text-whtie: #fefefe;

$dark-grey:#26292e;

$mid-grey: #2f3238;

$light-grey: #32353b;

